{
  "presets": ["babel-preset-env", "react"],
  "plugins": [
    [
      "import-inspector",
      {
        "serverSideRequirePath": true,
        "webpackRequireWeakId": true
      }
    ],
    "syntax-dynamic-import"
  ]
}
