{
  "presets": ["babel-preset-env", "react"],
  "plugins": [
    [
      "import-inspector",
      {
        "serverSideRequirePath": true,
        "webpackRequireWeakId": true
      }
    ],
    "syntax-dynamic-import",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
